.photo-card {
  height: 600px;  /* Increased from 450px */
  display: flex;
  flex-direction: column;
}

.photo-header {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 30px;  /* This will add more space under the headline */
}


.photo-content {
  flex: 1 0 auto;
}

.photo-container {
  width: 100%;
  height: 400px;  /* Adjust based on your requirements */
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.photo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
