.sign-up-page {
    align-items: center;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1611651186486-415f04eb78e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');


}