.profile-view-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    width: 80%;
    margin-left: 10%;
}

.profile-title {
    align-self: flex-start;
}